<!doctype html>

<html lang="en">
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  <meta charset="utf-8">
  <title>Dashboard</title>

  <div class="navigation highlight">
    <a href="/">Home</a>
    <a href="/dashboard" class = "selected" >Dashboard</a>
    <a href="/recipe">Recipes</a>  
    <a href="/login">Login</a>
    <a href="/logout">Signout</a>  
  </div>

</head>

<body>
  <script src="{{ url_for('static',filename='script.js') }}"></script>
  <h2>Favorites</h2>
  {% for favorite in fav_data %}
  <div class="recipe-box"><a href= "recipe/{{fav_data[favorite]["href"]}}" >{{fav_data[favorite]["caption"]}}</a></div>
  {% endfor %}

  <h2>Planned</h2>
  {% for planned in plan_data %}
  <div class="recipe-box"><a href= "recipe/{{plan_data[planned]["href"]}}" >{{plan_data[planned]["caption"]}}</a></div>
  {% endfor %}

  <div class="recipe-swipe"><a href= "swipe" >Want help choosing?</a></div>
</body>
</html>