<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pick My Meals</title>
</head>
<body>
    <header>
        <h1>Pick My Meals</h1>
        <nav>
            <form>
                <input type="text" id="searchBar" name="searchBar">
                <input type="submit" value="Search">
            </form>
        </nav>
    </header>
     
    <main>
        <h2>Recipes</h2>
        <h4> #1:   Angel Hair with Lemon & Garlic </h4>
        <h4>#2:   Easy Baked Chicken Breasts</h4>
        <h4>#3:   Chinese Beef and Broccoli</h4>
        <h4>#4:   Chocolate Chip Cookies</h4>
        <h4>#5:   Baked Macaroni and Cheese</h4>
        <h4>#6:   2 Meat Meatloaf</h4>
        <h4>#7:   Taco Soup</h4>
        <h4>#8:   Veggie Quesadilla</h4>
        <h4>#9:   Egg & Veggie Breakfast Burrito</h4>
        <h4>#10:  Potato Salad</h4>
    </main>
    
</body>
</html>
