<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pick My Meals</title>
</head>
<body>
    <header>
        <h1>Pick My Meals</h1>
    </header>

    <main>
        <h2>Recipes</h2>
    </main>

    <form>
        <input type="text" id="searchBar" name="searchBar">
        <input type="submit" value="Search">
    </form>

    <label for="option1">Option 1</label>
    <input type="checkbox" id="option1" name="option1">
    <br>
    
    <label for="option2">Option 2</label>
    <input type="checkbox" id="option2" name="option2">
    <br>
    
    <label for="option3">Option 3</label>
    <input type="checkbox" id="option3" name="option3">
    <br>


    
</body>
</html>
