<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  <div class="navigation highlight">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/recipe" class = "selected">Recipes</a>  
    <a href="/login">Login</a>   
    <a href="/logout">Signout</a>       
  </div>
</head>

<body>
  <script src="{{ url_for('static',filename='script.js') }}"></script>
  <ul>
  {% for recipe in recipes %}
  <div class="recipe-box"><a  href= "recipe/{{recipes[recipe]["href"]}}" >{{recipes[recipe]["caption"]}}</a></div>
  {% endfor %}
  </ul>
</body>
</html>