<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}"/>
    <meta charset="utf-8" />

    <title>search</title>

    <div class="navigation highlight">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a class = "selected" href="/search">Search</a>
      <a href="/login">Login</a>   
      <a href="/logout">Signout</a>       
    </div>
  </head>

  <body>
    <form action="#" method="post">
      <p>Recipe:</p>
      <p><input type="text" name="nm" \ /></p>
      <p><input type="submit" value="submit" \ /></p>
    </form>
  </body>
</html>
