<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles.css') }}"
    />
    <meta charset="UTF-8" />
    <title>Pick My Meals</title>

    <div class="navigation highlight">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/recipe" class="selected">Recipes</a>
      <a href="/login">Login</a>
      <a href="/logout">Signout</a>
    </div>

    <header>
      <h1>{{recipeName}}</h1>
    </header>
  </head>

  <body>
    <script src="{{ url_for('static',filename='script.js') }}"></script>
    <div id="recipe-info">
    <h2>Ingredients</h2>
      <ul>
        {% for ingredient, amount in dataInput.Ingredients.items()%}
        <li>{{ingredient}}, {{amount}}</li>
        {% endfor %}
      </ul>
      <h2>Directions</h2>
      <ol>
        {% for direction in dataInput.Directions %}
        <li>{{direction}}</li>
        {% endfor %}
      </ol>

      <h2>Serving Size</h2>
      <p>Calories per serving: {{dataInput.get('Serving Size').get('Calories per serving')}}</p>
      <p>Servings: {{dataInput.get('Serving Size').get('People served')}}</p>
    </div>
    
   

    <form action="" method="post">
      <p>Add to plan: <input type="checkbox" name="plan" {{planned}}></p>
      <p>Add to favorite: <input type="checkbox" name="favorite" {{favorited}}></p>
      <p><input class="button" type="submit" value="submit" \ /></p>
    </form>
  </body>
</html>
