<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles.css') }}"
    />
    <meta charset="UTF-8" />
    <title>Pick My Meals</title>

    <div class="navigation highlight">
      <a class="selected" href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/search">Search</a>
      <a href="/recipe" class="selected">Recipes</a>
      <a href="/login">Login</a>
      <a href="/logout">Signout</a>
    </div>

    <header>
      <h1>{{recipeName}}</h1>
    </header>
  </head>

  <body>
    <script src="{{ url_for('static',filename='script.js') }}"></script>
    <div id="recipe-info">
    <h2>Ingredients</h2>
      <ul>
        {% for ingredient in dataInput.Ingredients %}
        <li>{{ingredient}}</li>
        {% endfor %}
      </ul>
      <h2>Directions</h2>
      <ol>
        {% for direction in dataInput.Directions %}
        <li>{{direction}}</li>
        {% endfor %}
      </ol>
    </div>
    <form action="" method="post">
      <p><input class="button" type="submit" value="{{fav}}" \ /></p>
    </form>
  </body>
</html>
