<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Signup</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='login.css') }}"
    />
  </head>

  <body>
    <div class="box">
    <form action="#" method="post">
      <p>Signup:</p>
      <p><input class="input" type="text" name="email" placeholder="email" /></p>
      <p><input class="input" type="password" name="pass" placeholder="password" /></p>
      <p><input class="button" type="submit" value="submit" \ /></p>
    </form>
    <p><a href="/">Go back</a></p>
    <p class="errorMsg">{{msg}}<p>
    </div>
  </body>
</html>
